@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --biru: #56baed;
    --birutua : #06293f;
    --merah :#fa4353;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito;
}

body{
    background: var(--biru);
}

.select-box, .play-board, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.select-box{
    background: white;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 330px;
    width: 100%;
}

.select-box.hide{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.select-box header{
    font-size: 23px;
    font-weight: 600;
    padding-bottom:10px;
    border-bottom: 1px solid #ccc;
}

.select-box .title{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}

.select-box .options{
    display: flex;
    width: 100%;
}

.options button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    outline: none;
    background: var(--birutua);
    color: var(--biru);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.options button:hover,
.result-box .btn button:hover{
    transform: scale(0.96);
    /* color: var(--birutua); */
    /* background: var(--biru); */
}

.options button.playerX{
    margin-right: 5px;
}

.options button.playerO{
    margin-left: 5px;
}

.play-board{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.play-board.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.play-board .details{
    background: white;
    padding: 7px;
    border-radius: 5px;
}

.play-board .details .players{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.play-board .details span{
    color: var(--biru);
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    font-weight: 500;
    cursor: default;
    width: 100%;
    text-align: center;
    z-index: 5;
    transition: all 0.3s ease;
}

.details span:first-child{
    color: var(--biru);
}

.details .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--birutua);
    border-radius: 5px;
    z-index: 2;
    transition: all 0.3s ease;
}

.players.active span:first-child{
    color: var(--biru);
}
.players.active span:nth-child(2){
    color: var(--biru);
}
.players.active .slider{
    left: 50%;
}

.play-board .play-area{
    margin-top: 20px;
}

.play-board section{
    display: flex;
}

.play-board section span{
    display: block;
    margin: 2px;
    height: 80px;
    width: 80px;
    background: white;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    color: var(--biru);
}

.result-box{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    display: none;
}

.result-box .won-text{
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.result-box .won-text p{
    font-weight: 700;
    margin: 0 5px;
}

.result-box .btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.result-box .btn button{
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    outline: none;
    background: var(--birutua);
    color: var(--biru);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}